<%= form_with model: [:dashboard, @account] do |f| %>
  <div class="p-4">
    <div class="form-row justify-content-lg-center">
      <div class="row">
        <div class="form-group col-md-2 col-lg-2">
          <%= f.label :agency %>
          <%= f.text_field :agency, class: "form-control", required: true %>
        </div>
        <div class="form-group col-md-2 col-lg-2">
          <%= f.label :account %>
          <%= f.text_field :account, class: "form-control", required: true %>
        </div>
        <div class="form-group col-md-2 col-lg-2">
          <%= f.label :balance %>
          <%= f.number_field :balance, step: 0.01, class: "form-control", readonly: (action_name == "edit" ? true : false), required: true %>
        </div>
        <div class="form-group col-md-3 col-lg-3">
          <% if Bank.all.size > 0 %>
            <%= f.label :bank_id %>
            <%= collection_select(:account, :bank_id, 
                                  Bank.all, :id, :name,  
                                  {prompt: 'Select'}, 
                                  class: "form-control") %>
          <% else %>
            <label> <%= f.label :bank_id %></label>
            <select class="form-control">
              <option>Select</option>
              <option>Register a Bank</option>
            </select>
          <% end %>
        </div>
        <div class="form-group col-md-3 col-lg-3">
          <% if Group.all.size > 0 %>
            <%= f.label :group_id %>
            <%= collection_select(:account, :group_id, 
                                  @groups, :id, :name,  
                                  {prompt: 'Select'}, 
                                  class: "form-control") %>
          <% else %>
            <label> <%= f.label :group_id %></label>
            <select class="form-control">
              <option>Select</option>
              <option>Register a Group</option>
            </select>
          <% end %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="form-group col-md-6 col-lg-6">
          <div class="form-group col-md-12 col-lg-12 mt-3 text-center">
            <div class="status-label"><%= f.label :status, class: "form-check-label" %></div>
            <div class="status-label">
              <%=  f.collection_radio_buttons :status, Account.statuses.map{ |a| [a.first,a.first] }, :first, :second  do |b| %>
                <div class="form-check form-check-inline">
                  <%= b.radio_button class: "form-check-input" %>
                  <%= b.label class: "form-check-label" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6 col-lg-6">
          <div class="form-group col-md-12 col-lg-12 mt-3 text-center">
            <div class="status-label"><%= f.label :account_type, class: "form-check-label" %></div>
            <div class="status-label">
              <%=  f.collection_radio_buttons :account_type, Account.account_types.map{ |a| [a.first,a.first] }, :first, :second  do |b| %>
                <div class="form-check form-check-inline">
                  <%= b.radio_button class: "form-check-input" %>
                  <%= b.label class: "form-check-label" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-10 offset-lg-1">
    <div class="px-4 mb-4 text-center">
      <%= f.submit class: 'btn app-btn-primary theme-btn my-1', data: { disable_with: 'Saving....⌛'} %>
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><%= t ("buttons_default.cancel") %></button>
    </div>
  </div>
<% end %>
