<h1 class="app-page-title">Dashboard</h1>
<hr>
<h2 class="app-page-title">Expenses/Income due today</h2>
<div class="app-card app-card-orders-table shadow-sm mb-5">
  <div class="app-card-body">
    <div class="table-responsive">
      <table class="table app-table-hover mb-0 text-left">
        <thead>
          <tr>
            <th class="cell">Op. N</th>
            <th class="cell">Name</th>
            <th class="cell">Note</th>
            <th class="cell">Due Date</th>
            <th class="cell">Total</th>
            <th class="cell">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @expire_today.each do |today| %>
            <tr>
              <td class="cell"><%= today.id %></td>
              <td class="cell"><%= today.name %></span>
            </td>
            <td class="cell"><%= today.note %></td>
            <td class="cell"><span><%= l today.due_date %></span></td>
            <td class="cell"><%= today.payment_value %></td>
            <td class="cell">
              <button type="button" class="btn app-btn-primary" data-bs-toggle="modal" data-bs-target="#pay_<%= today.id %>_Modal">
                <%= icon("currency-dollar") %> <%= t ("buttons_default.pay") %>
              </button>
              <%= render 'pay_modal', installment: today  %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <!--//table-responsive-->
</div>
<!--//app-card-body-->
</div>
