<style>
      .email {
        max-width: 480px;
        margin: 1rem auto;
        border-radius: 10px;
        border-top: #15a362 2px solid;
        border-bottom: #15a362 2px solid;
        box-shadow: 0 2px 18px rgba(0, 0, 0, 0.2);
        padding: 1.5rem;
        font-family: Arial, Helvetica, sans-serif;
      }
      .email .email-head {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding-bottom: 1rem;
      }
      .email .email-head .head-img {
        max-width: 240px;
        padding: 0 0.5rem;
        display: block;
        margin: 0 auto;
      }

      .email .email-head .head-img img {
        width: 100%;
      }
      .email-body .invoice-icon {
        max-width: 80px;
        margin: 1rem auto;
      }
      .email-body .invoice-icon img {
        width: 100%;
      }

      .email-body .body-text {
        padding: 2rem 0 1rem;
        text-align: center;
        font-size: 1.15rem;
      }
      .email-body .body-text.bottom-text {
        padding: 2rem 0 1rem;
        text-align: center;
        font-size: 0.8rem;
      }
      .email-body .body-text .body-greeting {
        font-weight: bold;
        margin-bottom: 1rem;
      }

      .email-body .body-table {
        text-align: center;
      }
      .email-body .body-table table {
        width: 100%;
        font-size: 1.1rem;
      }
      .email-body .body-table table .total {
        background-color: rgba(122, 193, 66, 0.5);
        border-radius: 8px;
        color: #15a362;
      }
      .email-body .body-table table .item {
        border-radius: 8px;
        color: #15a362;
      }
      .email-body .body-table table th,
      .email-body .body-table table td {
        padding: 10px;
      }
      .email-body .body-table table tr:first-child th {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      }
      .email-body .body-table table tr td:last-child {
        text-align: right;
      }
      .email-body .body-table table tr th:last-child {
        text-align: right;
      }
      .email-body .body-table table tr:last-child th:first-child {
        border-radius: 8px 0 0 8px;
      }
      .email-body .body-table table tr:last-child th:last-child {
        border-radius: 0 8px 8px 0;
      }
      .email-footer {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
      }
      .email-footer .footer-text {
        font-size: 0.8rem;
        text-align: center;
        padding-top: 1rem;
      }
      .email-footer .footer-text a {
        color: #d74034;
      }
    </style>
  </head>
  <body>
    <div class="email">
      <div class="email-head">
        <div class="head-img">
          <%= image_tag(attachments['logo.png'].url, height: '80', alt: "invoice-icon") %>
        </div>
      </div>
      <div class="email-body">
        <div class="body-text">
          <div class="body-greeting">
            <%= @user.first_name %>!
          </div>
          List of bills that are due today!
        </div>
        <div class="body-table center">
          <table>
            <tr class="">
              <th>Description</th>
              <th>Group</th>
              <th>Type</th>
              <th>Amount</th>
            </tr>
            <% @invoices.each do |invoice| %>
            <tr>
              <td><%= invoice.name %></td>
              <td><%= invoice&.group&.name %></td>
              <td><%= invoice&.financial&.transaction_type %></td>
              <td><%= invoice.payment_value %></td>
            </tr>
            <% end %>
            <tr class="total">
              <th>Total</th>
              <th><%= @invoices.collect(&:payment_value).sum %></th>
              <th>Quantity</th>
              <th><%= @invoices.size %></th>            
            </tr>            
          </table>
          <table>
          <tr><%= link_to 'To view all accounts click here!', @link, target:"_blank"%></tr>
          </table>  
        </div>
      </div>
      <div class="email-footer">
        <div class="footer-text">
          &copy; <a href="https://mycontrol.fly.dev/"  target="_blank">My Control</a>
        </div>
      </div>
    </div>
  </body>
