<%= form_with model: [:dashboard, @financial] do |f| %>
  <%= hidden_field_tag "group", params[:group] %>
  <div class="p-4">
    <div class="form-row justify-content-lg-center">
      <%= hidden_field_tag :counter, 0 %>
      <div class="row">
        <div class="form-group col-md-6 col-lg-6">
          <% if Account.all.size > 0 %>
            <%= f.label :account_id %>
            <%= collection_select(:financial, :account_id, 
                                  @accounts, :id, :agency_with_account,  
                                  {prompt: 'Select'}, 
                                  class: "form-control") %>
          <% else %>
            <label> <%= f.label :bank_id %></label>
            <select class="form-control">
              <option>Select</option>
              <option>Register a Account</option>
            </select>
          <% end %>
        </div>
        <div class="form-group col-md-4 col-lg-4">
          <%= f.label :transaction_type %>
          <div class="form-check form-check-inline">
            <%=  f.collection_radio_buttons :transaction_type, Financial.transaction_types.map{ |a| [a.first,a.first] }, :first, :second  do |b| %>
              <div class="form-check form-check-inline">
                <%= b.radio_button class: "form-check-input" %>
                <%= b.label class: "form-check-label" %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="form-group col-md-2 col-lg-2 text-center">
          <h6>Total Transaction</h6>
          <span class="fs-3 fw-bold" id="sum">0.00</span>
        </div>
      </div>
      <hr>
      <div class="row" id="installments">
        <%= f.fields_for :installments do |t| %>
          <%= render "installment_fields", f: t %>
        <% end %>
        <div class="mt-2 text-center" >
          <%= link_to_add_association "#{t ("buttons_default.add_transaction")}", f, :installments, class: "btn app-btn-primary w-50 theme-btn mx-auto" %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-10 offset-lg-1">
    <div class="px-4 mb-4 text-center">
      <%= f.submit class: 'btn app-btn-primary theme-btn my-1', data: { disable_with: 'Saving....⌛'} %>
    </div>
  </div>
<% end %>
<script>
  $(document).ready(function() {
      $('#installments')
        .on('cocoon:before-insert', function(e, add) {
          number = parseInt($('#counter').val()) + 1
          add.find("input[id*='number']").val(number);
          $('#counter').val(number);
        })
        .on("cocoon:before-remove", function(e, add) {
          number = parseInt($('#counter').val()) - 1
          add.find("input[id*='number']").val(number);
          $('#counter').val(number);
      })
      });
</script>
