      
<div class="table-responsive">
  <table id="groupTable" class="table table-hover">
    <thead>
      <tr>
        <th scope="col"><%= t ("financial.account") %></th>
        <th scope="col"><%= t ("financial.due_date") %></th>
        <th scope="col"><%= t ("financial.installment") %></th>
        <th scope="col"><%= t ("financial.transaction_type") %></th>
        <th scope="col"><%= t ("financial.total_transaction") %></th>
        <th scope="col"><%= t ("financial.action") %></th>
      </tr>
    </thead>
    <tbody>
      <% @transaction.financials.each do |financial| %>
        <% financial.installments.where(status: "unpaid").each do |installment| %>
          <tr>
            <td><%= financial&.account&.agency_with_account %></td>
            <td><%= l installment&.due_date %></td>
            <td><%= translate_attr(Financial, financial&.transaction_type) %></td>
            <td><%= installment&.number %> / <%= financial&.installments.size %></td>
            <td><%= currency_br(installment&.payment_value) %></td>
            <td>
            <button type="button" class="btn app-btn-primary" data-bs-toggle="modal" data-bs-target="#pay_<%= installment.id %>_Modal">
              <%= icon("currency-dollar") %> <%= t ("buttons_default.pay") %>
            </button>
            <%= render 'pay_modal', installment: installment  %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

