<h1 class="app-page-title"><%= t ("group.title_group") %></h1>
<hr class="mb-4">
<div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end pb-2">
    <%= link_to new_dashboard_group_path, remote: true, class:"btn app-btn-primary theme-btn me-md-2", data: {bs_toggle:"modal", bs_target:"#modal"} do %>
      <%= icon("plus-square") %> <%= t ("buttons_default.add") %>
    <% end %>
  </div>
  <div class="app-card app-card-orders-table shadow-sm mb-5">
    <div class="app-card-body">
      <div class="table-responsive">
        <table class="table app-table-hover mb-0 text-center">
          <thead>
            <tr>
              <th class="cell"><%= t ("group.name") %></th>
              <th class="cell"><%= t ("group.status") %></th>
              <th class="cell"><%= t ("group.action") %></th>
            </tr>
          </thead>
          <tbody>
            <% @groups.each do |group| %>
              <tr>
                <td class="cell"><%= group&.name %></td>
                <td class="cell"><%= group&.active? ? '✅' : '❌' %></td>
                <td class="cell">
                  <%= link_to edit_dashboard_group_path(group), remote: true, class:"btn app-btn-primary theme-btn mx-auto", data: {bs_toggle:"modal", bs_target:"#modal"} do %>
                    <%= icon("pencil-square") %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <!--//table-responsive-->
    </div>
    <!--//app-card-body-->
  </div>
  <!--//app-card-->
</div>
<!--//tab-pane-->