		
<div id="app-sidepanel" class="app-sidepanel">
  <div id="sidepanel-drop" class="sidepanel-drop"></div>
  <div class="sidepanel-inner d-flex flex-column">
    <a href="#" id="sidepanel-close" class="sidepanel-close d-xl-none">&times;</a>
    <div class="app-branding text-center">
      <a class="app-logo" href="index.html"><img class="logo-icon me-2" 
					<%= image_tag "logo.png", alt: "logo"%>	<span class="logo-text"><%= t ("default.site_title") %></span></a>
  </div>
  <!--//app-branding-->
  <nav id="app-nav-main" class="app-nav app-nav-main flex-grow-1">
    <ul class="app-menu list-unstyled accordion" id="menu-accordion">
      <li class="nav-item">
        <%= link_to root_path, class: "nav-link" do %>
          <span class="nav-icon">
            <%= icon("house-door", width: "1em", height: "1em", viewBox: "0 0 16 16") %>
          </span>
          <span class="nav-link-text"><%= t ("default.dash") %></span>
        <% end %><!--//nav-link-->
      </li>
      <!--//nav-item-->
      <li class="nav-item">
        <%= link_to dashboard_groups_path, class: "nav-link" do %>
          <span class="nav-icon">
            <%= icon("bar-chart-steps", width: "1em", height: "1em", viewBox: "0 0 16 16") %>
          </span>
          <span class="nav-link-text"><%= t ("group.group") %></span>
        <% end %><!--//nav-link-->
      </li>
      <!--//nav-item-->
            <li class="nav-item">
        <%= link_to dashboard_accounts_path, class: "nav-link" do %>
          <span class="nav-icon">
            <%= icon("bank", width: "1em", height: "1em", viewBox: "0 0 16 16") %>
          </span>
          <span class="nav-link-text"><%= t ("account.account") %></span>
        <% end %><!--//nav-link-->
      </li>
      <!--//nav-item-->
    </ul>
    <!--//app-menu-->
  </nav><!--//app-nav-->
  <div class="app-sidepanel-footer mb-5">
    <nav class="app-nav app-nav-footer">
      <ul class="app-menu footer-menu list-unstyled">
        <li class="nav-item">
          <%= link_to edit_dashboard_user_path(current_user.id), class: "nav-link" do %>
            <span class="nav-icon">
              <%= icon("file-person", width: "1em", height: "1em", viewBox: "0 0 16 16") %>
            </span>
            <span class="nav-link-text"><%= t ("default.settings") %></span>
          <% end %><!--//nav-link-->
        </li>
        <!--//nav-item-->
        <li class="nav-item">
          <%= link_to destroy_user_session_path, class: "nav-link", method: :delete do %>
            <span class="nav-icon">
              <%= icon("arrow-right-square", width: "1em", height: "1em", viewBox: "0 0 16 16") %>
            </span>
            <span class="nav-link-text"><%= t ("default.logout") %></span>
          <% end %><!--//nav-link-->
        </li>
        <!--//nav-item-->
      </ul>
      <!--//footer-menu-->
    </nav>
  </div>
  <!--//app-sidepanel-footer-->
</div>
<!--//sidepanel-inner-->
</div>
<!--//app-sidepanel-->
